{% extends 'base.html.twig' %}
{% block body %}
    <div class="row" style="margin-top: 30px;margin-left: 30px;margin-right: 30px">
   {% for nom in noms %}

        <div class="col-1.8" >

   <div id="card" class="card text-white bg-dark mb-3" style="max-width: 18rem;">
       <a href="{{ path('detail_champion',{nom:nom})}}" style="text-decoration:none;color: palegreen">
      <div  class="card-header" style="text-align: center">{{ nom }}</div>
      <div class="card-body">
         <img src="http://ddragon.leagueoflegends.com/cdn/10.11.1/img/champion/{{ nom }}.png" class="card-img" alt="">
      </div>
       </a>
      </div>

   </div>

    {% endfor %}
    </div>
    <div id="paginateur" class="navigation">
        {{   knp_pagination_render(noms) }}
    </div>

{% endblock %}