*{
    font-family: "Comic Sans MS";
}

#card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: rgb(206, 170, 104);
}

#paginateur{

   display: flex;
    justify-content: center;

}
.pagination span {
    margin: 10px;
    padding: 10px;
    transition: 0.4s;
    border-radius: 25px;

}

.pagination span:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: rgb(206, 170, 104);

}


body{
    background-image: url(../images/bglol.png);
    background-attachment: fixed;
}

