{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-4">
    <div class="card" style="width: 18rem;margin:0 auto;margin-top: 30px;margin-bottom: 30px;background-color: #bdc3c7">
        <div class="card-header" style="text-align: center">
            {{ invocateur[0].summonerName}}
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item" style="text-align: center">{{ invocateur[0].tier }}    {{ invocateur[0].rank }}   {{ invocateur[0].leaguePoints }} LP</li>
        </ul>
        <img {% if  invocateur[0].tier =="IRON"%}
             src="../images/iron.png"
        {%  endif %}
        {% if  invocateur[0].tier =="BRONZE"%}
             src="../images/bronze.png"
        {%  endif %}
        {% if  invocateur[0].tier =="SILVER"%}
             src="../images/silver.png"
        {%  endif %}
        {% if  invocateur[0].tier =="GOLD"%}
             src="../images/gold.png"
        {%  endif %}
        {% if  invocateur[0].tier =="PLATINUM"%}
             src="../images/platine.png"
        {%  endif %}
        {% if  invocateur[0].tier =="DIAMOND"%}
             src="../images/diamond.png"
        {%  endif %}
        {% if  invocateur[0].tier =="MASTER"%}
             src="../images/master.png"
        {%  endif %}
        {% if  invocateur[0].tier =="GRANDMASTER"%}
             src="../images/grandmaster.png"
        {%  endif %}
        {% if  invocateur[0].tier =="CHALLENGER"%}
             src="../images/challenger.png"
        {%  endif %}class="card-img-top" alt="...">
        <ul class="list-group list-group-flush">
            <li class="list-group-item" style="text-align: center">Victoires: {{ invocateur[0].wins }}</li>
            <li class="list-group-item" style="text-align: center">Défaites: {{ invocateur[0].losses }}</li>
        </ul>
    </div>
    </div>
    <div class="col-4">
        <div class="card" style="width: 18rem;margin:0 auto;margin-top: 30px; margin-bottom: 30px;background-color: #bdc3c7">
            <div class="card-header" style="text-align: center">
                Niveau de l'invocateur: {{ lvlInvocateur }}
            </div>
            <li class="list-group-item" style="text-align: center">Icone de l'invocateur:</li>
            </ul>
            <img src="http://ddragon.leagueoflegends.com/cdn/10.13.1/img/profileicon/{{ idIcone }}.png" class="card-img" alt="">
        </div>
    </div>
        <div class="col-4">
            <div class="card" style="width: 18rem;margin:0 auto;margin-top: 30px; margin-bottom: 30px;background-color: #bdc3c7">
                <div class="card-header" style="text-align: center">
                    Champion le plus joué: {{ mainName }}
                </div>
                    <li class="list-group-item" style="text-align: center">Points de maîtrise: {{ main.championPoints }}</li>
                </ul>
                <img src="http://ddragon.leagueoflegends.com/cdn/10.11.1/img/champion/{{ mainId }}.png" class="card-img-top" alt="...">
        </div>
    </div>



{% endblock %}