{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-4">
    <div style="text-align: center">
    <img src="../images/oups.png" class="card-img-top" style="width: 500px;">
    </div>
    </div>
            <div class="col-4">
   <b> <h3><p style="text-align: center;padding-top: 100px;vertical-align: center">Il semblerait que l'invocateur que vous cherchez n'existe pas ou qu'il n'est pas encore joué cette saison en classé 5*5 /:</p></h3></b>
                <a href="{{ path('recherche_invocateur') }}" style="margin-left: 100px" class="btn btn-dark" >Retour à la recherche</a>
            </div>
    </div>
{% endblock %}