{% extends 'base.html.twig' %}
{% block body %}

        <div class="card" style="width: 18rem;margin:0 auto;margin-top: 30px; margin-bottom: 30px">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.11.1/img/champion/{{ id }}.png" class="card-img-top" alt="...">
                <div class="card-body">
                        <h5 class="card-title">{{ id }}, {{ title }}</h5>
                        <p class="card-text">{{ blurb }}</p>
                </div>
                <ul class="list-group list-group-flush">
                        <li class="list-group-item" style="text-align: center">Attack: {{ attack }}</li>
                        <li class="list-group-item" style="text-align: center">Defence: {{ defense }}</li>
                        <li class="list-group-item" style="text-align: center">Magic power: {{ magic }}</li>
                        <li class="list-group-item" style="text-align: center">Difficulty: {{ difficulty }}</li>

                </ul>

        </div>
{% endblock %}