{% extends 'base.html.twig' %}
{% block body %}
    <center><p style="justify-content: center;"> <h1>Les champions gratuits</h1></center>
    <br>
    <div class="row" style="margin-left: 30px">
    {% for freeChamp in freeChamps %}

        <div class="col-1,5" >

            <div id="test" class="card text-white bg-dark mb-3 rounded-circle" style="max-width: 18rem;">
                <a href="{{ path('detail_champion',{nom:freeChamp})}}" style="text-decoration:none;color: palegreen">
                    <div class="rounded-circle" style="text-align: center;padding-top: 10px">{{ freeChamp }}</div>
                    <div class="card-body">
                        <img src="http://ddragon.leagueoflegends.com/cdn/10.11.1/img/champion/{{ freeChamp }}.png" class="card-img rounded-circle" alt="">
                    </div>
                </a>
            </div>

        </div>

    {% endfor %}
{% endblock %}