{% extends 'base.html.twig' %}
{% block body %}
<br>
<div class="form-group col-md-12 " style="text-align: center">
    <table class="table-sm table-bordered table-hover" style="margin: auto">
        <tr>
            <th>feature</th>
            <th>first_blood</th>
            <th>first_tower</th>
            <th>first_inhibitor</th>
            <th>first_baron</th>
            <th>first_dragon</th>
            <th>first_RiftHerald</th>
            <th>t1_tower</th>
            <th>t1_inhibitor</th>
            <th>t1_baron</th>
            <th>t1_dragon</th>
        </tr>
{% for team in teams %}
        <tr>
            <th>value team{{ loop.index }}</th>
            <td>
            {% if team.firstBlood==false %}
            0
            {% else %}
            {{ team.firstBlood }}
            {% endif %}
            </td>
            <td>
            {% if team.firstTower==false %}
                0
            {% else %}
                {{ team.firstTower }}
            {% endif %}
            </td>
            <td>
            {% if team.firstInhibitor==false %}
                0
            {% else %}
                {{ team.firstInhibitor }}
            {% endif %}
            </td>
            <td>
            {% if team.firstBaron==false %}
                0
            {% else %}
                {{ team.firstBaron }}
            {% endif %}
            </td>
            <td>
            {% if team.firstDragon==false %}
                0
            {% else %}
                {{ team.firstDragon }}
            {% endif %}
            </td>
            <td>
            {% if team.firstRiftHerald==false %}
                0
            {% else %}
                {{ team.firstRiftHerald }}
            {% endif %}
            </td>
            <td>{{ team.towerKills }}</td>
            <td>{{ team.inhibitorKills }}</td>
            <td>{{ team.baronKills }}</td>
            <td>{{ team.dragonKills }}</td>
        </tr>

{% endfor %}
    </table>
</div>


<div class="row" style="margin-left: 10px;">

{% for participant in participants %}
    {% if loop.index<=5 %}
        <div class="card" style="width: 18rem;margin-right: 15px;">
            <div class="card-header" style="background-color: #34495e">
                Equipe 1
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Joueur {{ participant.participantId }}</li>

                {% for statsParticipant in statsParticipants %}
                    {% if participant.participantId==statsParticipant.participantId %}
                        <li class="list-group-item"> K/D/A : {{ statsParticipant.kills }}/{{ statsParticipant.deaths }}/{{ statsParticipant.assists }}</li>
                        <li class="list-group-item">Gold earned: {{ statsParticipant.goldEarned }}</li>
                    {% endif %}
                {% endfor %}

            </ul>
        </div>
    {% endif %}
{% endfor %}
</div>
    <br>
<div class="row" style="margin-left: 10px;">
    {% for participant in participants %}
        {% if loop.index>5 %}
            <div class="card" style="width: 18rem;margin-right: 15px;">
                <div class="card-header" style="background-color: #c0392b">
                    Equipe 2
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Joueur {{ participant.participantId }}</li>
                    {% for statsParticipant in statsParticipants %}
                        {% if participant.participantId==statsParticipant.participantId %}
                            <li class="list-group-item">  K/D/A : {{ statsParticipant.kills }}/{{ statsParticipant.deaths }}/{{ statsParticipant.assists }}</li>
                            <li class="list-group-item">Gold earned: {{ statsParticipant.goldEarned }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>

    {% endif %}
{% endfor %}
</div>

{% endblock %}