<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}LoLStat{% endblock %}</title>
    <link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAA
    AAAAAAAEAAAAAAAAAC+2xoAAAAAAEQa2wADAQoAAgoKAAxUhwAEAgoAAgoFAOr/AAAa214ABwIKAAoYGgAIJCYAx94dAAAAAAAAAAAAF3d3d3d3d3YXd3
    d3AHd3dhdVVVDdBVVWF1qqAAANqlYXeq0FVVDaNxd1VVVVVVV3ZnVVVSVVVXdmVERSYlZEV2daqIgoiKpXZ1SKqFiqhFdnVIqoWKqEVxdUiIhYiIRXF1
    RKS1qrRFcXVEqcWptEVxeZlZVVlZmXF5mZlVWZmZeAAAAAgAAAAIAAAACAAAAAgAAAAIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIAAAACAAAAAgAAAAIAAAAC
    AAAAA" rel="icon" type="image/x-icon" />
    {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Spartan&display=swap">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
        <link rel="stylesheet" href="{{ asset('/CSS/app.css') }}">
    {% endblock %}
</head>
<body>
<nav id="entete" class="navbar" style="height: 70px;background-color: #8959A8 ">

    <a href="/" class="navbar-brand" href="#">
        <p class="pl-2 d-inline font-weight-bold" style="color: #444; font-family: fantasy">LoLStat</p>
    </a>
        <a href="{{ path('champion_list') }}" class="btn btn-dark">Les champions</a>
         <a href="{{ path('recherche_match') }}" class="btn btn-dark" >Rechercher un match</a>
        <a href="{{ path('recherche_invocateur') }}" class="btn btn-dark" >Rechercher un invocateur</a>
        <a href="{{ path('top_ladder') }}" class="btn btn-dark" >Top challenger</a>
</nav>
{% block body %}{% endblock %}

{% block javascripts %}{% endblock %}
</body>
</html>