{% extends 'base.html.twig' %}
{% block body %}
    <h2><U><p style="text-align: center;margin-bottom: 30px;margin-top: 30px">Classement RANKED_SOLO_5x5 top challenger EUW</p></U></h2>
<div class="form-group col-md-12 " style="text-align: center">
<table class="table-sm table-bordered table-hover" style="margin: auto">
    <th>Rang</th>
    <th>Nom d'invocateur</th>
    <th>Classement</th>
    <th>Victoires</th>
    <th>Défaites</th>
{% for top in tops %}
    <tr>
    <td>{{ loop.index }}</td>
    <td>{{ top.summonerName }}</td>
    <td>{{ top.tier }} {{ top.rank }} {{ top.leaguePoints }} LP</td>
    <td>{{ top.wins }}</td>
    <td>{{ top.losses }}</td>
    </tr>
{% endfor %}
</table>
</div>
{% endblock %}